mixin player()
    section.player
        .player__list.js-player-slider
            .player__list-wrapper.js-player-slider-wrapper
                -
                    var slides = [
                        {
                            title: 'MarketEmotion',
                            image: 'img/header.jpg',
                            video: '975102407'
                        },
                        {
                            title: 'Entertainment',
                            image: 'http://placebeard.it/1440/1080',
                            video: '980304090'
                        },
                        {
                            title: 'Business',
                            image: 'http://placebeard.it/1080/1440',
                            video: '988097831'
                        },
                        {
                            title: 'Openair',
                            image: 'http://placebeard.it/1440/900',
                            video: '988100618'
                        }
                    ]
                each val, i in slides
                    .player__item(class=`${i === 0 ? '_active' : ''}`, style=`background-image: url(${val.image})`).js-player-slider-item
                        video.player__video(data-src=`video/${val.video}.mp4`, style='display:none;').js-player-video
        .player__wrapper
            .player__controls
                each val, i in slides
                    button.player__button(class=`${i === 0 ? '_active' : ''}`).js-player-button= val.title
            .player__descs.js-video-descriptions
                each val, i in slides
                    .video-desc(class=`${i === 0 ? '_show' : ''}`).js-video-descriptions-item
                        h4.video-desc__title= val.title
                        p.video-desc__text
                            |incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco quaerat voluptatem.
                        a(href=`https://vimeo.com/${val.video}`, target='_blank').video-desc__link
                            i.icon
                                include ../svg/vimeo_logo.svg
                            span Смотреть на Vimeo
