mixin player()
    section.player
        .player__list.js-player-slider
            .player__list-wrapper.js-player-slider-wrapper
                -
                    var slides = [
                        {
                            title: 'MarketEmotion',
                            image: 'img/header.jpg',
                            video: 'https://vimeo.com/138403079'
                        },
                        {
                            title: 'Entertainment',
                            image: 'http://placebeard.it/1440/1080',
                            video: 'https://vimeo.com/267187518'
                        },
                        {
                            title: 'Business',
                            image: 'http://placebeard.it/1080/1440',
                            video: 'https://vimeo.com/241267548'
                        },
                        {
                            title: 'Openair',
                            image: 'http://placebeard.it/1440/900',
                            video: 'https://vimeo.com/48708471'
                        }
                    ]
                each val, i in slides
                    .player__item(class=`${i === 0 ? '_active' : ''}`, style=`background-image: url(${val.image})`).js-player-slider-item
                        .player__video(data-url=val.video, style='display: none;').js-player-video
        .player__wrapper
            .player__controls
                each val, i in slides
                    button.player__button(class=`${i === 0 ? '_active' : ''}`).js-player-button= val.title
            .player__descs.js-video-descriptions
                each val, i in slides
                    .video-desc(class=`${i === 0 ? '_show' : ''}`).js-video-descriptions-item
                        h4.video-desc__title= val.title
                        p.video-desc__text
                            |incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco quaerat voluptatem.
                        a(href=val.video, target='_blank').video-desc__link
                            i.icon
                                include ../svg/vimeo_logo.svg
                            span Смотреть на Vimeo
